<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mahmood.journeyjournal">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.VisitedPlaceDetails" />
        <activity
            android:name=".activities.VisitedPlacesActivity"
            android:label="@string/title_activity_visited_places"
            android:parentActivityName=".activities.TripDetailsActivity"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mahmood.journeyjournal.activities.TripDetailsActivity" />
        </activity>
        <activity android:name=".activities.TripPhotoDetailsActivity" />
        <activity
            android:name=".activities.TripDetailsActivity"
            android:label="@string/title_activity_trip_details"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mahmood.journeyjournal.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".SignupActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCTHlPH8wyDuX7oe9mZ0OirwmvqBzgFaR0" />
    </application>

</manifest>